.footer {
  
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.footerlink {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footerlink:hover{
  text-decoration:underline;
  color:black;
  cursor: e-resize;
}

.need-padding {
  padding: 8px;
}

.link{
  float:right;
  color:black;
  text-decoration:none;
  font-size:32px
}

.link:hover{
  text-decoration:line-through;
  color:black;
  cursor:e-resize
}
.nolink{
  float:right;
}



.right{
  text-align:right
}

.page-header {
    padding-bottom: 2px;
    margin: 0px 0 10px;
    border-bottom: 1px solid #eee;
}